
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
* {
    font-family: 'Times New Roman', Times, serif; /* Apply Times New Roman */
  }

  html, body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  
  